.button {
  background-color: transparent;
  border: none;
  border-radius: var(--radius-1);
  font-weight: var(--weight-3);
  text-align: center;
}

.button-primary {
  background-color: var(--color-primary-1);
  color: white;
  font-size: var(--headline);
  padding: 14.5px 97px;
}

.button-primary:hover {
  background-color: var(--color-primary-2);
  color: var(--color-grey-1);
}
