.button {
  background-color: transparent;
  border: none;
  border-radius: var(--radius-1);
  font-weight: var(--weight-3);
  text-align: center;
}

.button-primary {
  background-color: var(--color-primary-1);
  color: white;
  font-size: var(--headline);
  padding: 14.5px 97px;
}

.button-primary:hover {
  background-color: var(--color-primary-2);
  color: var(--color-grey-1);
}

.button-primary-2 {
  background-color: var(--color-grey-2);
  color: var(--color-grey-3);
  font-size: var(--text-1);
  padding: 10.5px 15px;
}

.button-primary-2:hover {
  background-color: var(--color-grey-2);
  color: var(--color-grey-1);
}

.button-primary-2:active {
  background-color: var(--color-primary-1);
  color: white;
}

.button-icon {
  align-items: center;
  background-color: var(--color-grey-2);
  display: flex;
  justify-content: center;
  height: 22px;
  width: 22px;
}

.button-icon:hover {
  background-color: var(--color-grey-4);
}