.label {
  font-size: var(--text-1);
  display: block;
}

.input {
  border: none;
  border-radius: var(--radius-1);
  font-size: var(--headline);
  margin-top: 15px;
  padding: 11px 16px;
  outline: none;
  width: 100%;
}

.input-text {
  background-color: var(--color-grey-1);
  border: 2px solid transparent;
  color: var(--color-grey-4);
  margin-bottom: 10px;
}

.input-text::placeholder {
  color: var(--color-grey-3);
}

.input-text:focus {
  background-color: white;
  border-color: var(--color-grey-4);
}

.grey-3 {
  color: var(--color-grey-3)
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.price-sign {
  color: var(--color-grey-4);
  font-size: var(--headline);
  position: absolute;
  right: 10px;
  bottom: 20px;
}