.input {
  border: none;
  border-radius: var(--radius-1);
  font-size: var(--headline);
  padding: 11px 16px;
  outline: none;
}

.input-text {
  background-color: var(--color-grey-1);
  border: 2px solid transparent;
  color: var(--color-grey-4);
}

.input-text::placeholder {
  color: var(--color-grey-3);
}

.input-text:focus {
  background-color: white;
  border-color: var(--color-grey-4);
}